# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Alessandro Gianola


### Grupo 25
<dl>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1106827 Cecília Correia</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist105918 Gabriel Bispo</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist106326 Guilherme Filipe</dd>
<dl>

In [1]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

Connecting to 'postgresql+psycopg://postgres:***@postgres/postgres'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [16]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
nif CHAR(9) NOT NULL REFERENCES medico,
nome VARCHAR(80) NOT NULL REFERENCES clinica,
dia_da_semana SMALLINT,
PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
PRIMARY KEY (id, parametro)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [3]:
%%sql
-- (RI-1)
ALTER TABLE consulta ADD CONSTRAINT horario_consulta CHECK (
  (hora >= '08:00:00' AND hora < '13:00:00' AND date_part('minute', hora) IN (0, 30)) OR
  (hora >= '14:00:00' AND hora < '19:00:00' AND date_part('minute', hora) IN (0, 30))
);

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [4]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION check_doctor_patient() RETURNS TRIGGER AS 
$$
BEGIN
  IF NEW.ssn = (SELECT ssn FROM paciente WHERE nif = NEW.nif) THEN
    RAISE EXCEPTION 'A doctor cannot consult themselves';
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_check_doctor_patient
BEFORE INSERT OR UPDATE ON consulta
FOR EACH ROW EXECUTE FUNCTION check_doctor_patient();

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [5]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION check_doctor_clinic_day() RETURNS TRIGGER AS 
$$
DECLARE
  work_count INT;
BEGIN
  SELECT COUNT(*) INTO work_count
  FROM trabalha
  WHERE trabalha.nif = NEW.nif AND trabalha.nome = NEW.nome AND trabalha.dia_da_semana = EXTRACT(DOW FROM DATA(NEW.data));

  IF work_count = 0 THEN
    RAISE EXCEPTION 'Doctor cannot consult in a clinic where they do not work on the given day';
  END IF;

  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_check_doctor_clinic_day
BEFORE INSERT OR UPDATE ON consulta
FOR EACH ROW EXECUTE FUNCTION check_doctor_clinic_day();

++
||
++
++

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles
...

## 4. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes e dia_do_mes: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [17]:
%%sql
-- Drop the materialized view if it exists
DROP MATERIALIZED VIEW IF EXISTS historial_paciente;

-- Create the materialized view
CREATE MATERIALIZED VIEW historial_paciente AS
SELECT 
    c.id,
    c.ssn,
    c.nif,
    c.nome,
    c.data,
    EXTRACT(YEAR FROM c.data) AS ano,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    SUBSTRING(cl.morada FROM '.*\ ([^ ]+)$') AS localidade,
    m.especialidade,
    CASE
        WHEN o.parametro IS NOT NULL THEN 'observacao'
        WHEN r.medicamento IS NOT NULL THEN 'receita'
    END AS tipo,
    COALESCE(o.parametro, r.medicamento) AS chave,
    COALESCE(o.valor, r.quantidade) AS valor
FROM 
    consulta c
    JOIN paciente p ON c.ssn = p.ssn
    JOIN clinica cl ON c.nome = cl.nome
    JOIN medico m ON c.nif = m.nif
    LEFT JOIN observacao o ON c.id = o.id
    LEFT JOIN receita r ON c.codigo_sns = r.codigo_sns;

1508888 rows affected.

++
||
++
++

## 5. Análise de Dados (SQL e OLAP)

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [33]:
%%sql
WITH observacoes_ortopedia AS (
    SELECT 
        c.ssn,
        c.data,
        o.parametro
    FROM consulta c
        JOIN medico m ON c.nif = m.nif
        JOIN observacao o ON c.id = o.id
    WHERE 
        m.especialidade = 'ortopedia' AND o.valor IS NULL
),
intervalos AS (
    SELECT 
        ssn,
        parametro,
        data,
        -- data da observação anteriro para o mesmo sintoma
        LAG(data) OVER (PARTITION BY ssn, parametro ORDER BY data) AS data_anterior
    FROM observacoes_ortopedia
),
diferencas AS (
    SELECT 
        ssn,
        parametro,
        data - data_anterior AS intervalo
    FROM intervalos
    WHERE data_anterior IS NOT NULL
)
SELECT 
    ssn,
    MAX(intervalo) AS max_intervalo
FROM diferencas
GROUP BY ssn
ORDER BY max_intervalo DESC
LIMIT 1;
-- o maior intervalo é o maior període de tempo entre duas observações consecutivas em que o sintoma não teve progresso (NULL)

1 rows affected.

+-------------+---------------+
|     ssn     | max_intervalo |
+-------------+---------------+
| 39294087782 |      709      |
+-------------+---------------+

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante os últimos doze meses, em consultas de cardiologia.

In [37]:
%%sql
WITH cardiologia_consultas AS (
    SELECT 
        c.ssn,
        r.medicamento,
        DATE_TRUNC('month', c.data) AS mes
    FROM consulta c
        JOIN medico m ON c.nif = m.nif
        JOIN receita r ON c.codigo_sns = r.codigo_sns
    WHERE m.especialidade = 'cardiologia' AND
        c.data >= (CURRENT_DATE - INTERVAL '1 year')
),
meses_prescricao AS (
    SELECT 
        ssn,
        medicamento,
        COUNT(DISTINCT mes) AS meses_distintos
    FROM cardiologia_consultas
    GROUP BY ssn, medicamento
),
medicamentos_cronicos AS (
    SELECT medicamento
    FROM meses_prescricao
    WHERE meses_distintos = 12
    GROUP BY medicamento
)
SELECT medicamento
FROM medicamentos_cronicos;

There's a new jupysql version available (0.10.10), you're running 0.10.9. To upgrade: pip install jupysql --upgrade

+-------------+
| medicamento |
+-------------+
+-------------+

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [38]:
%%sql
SELECT 
    r.medicamento,
    cl.morada AS clinica_localidade,
    cl.nome AS clinica_nome,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    m.especialidade,
    m.nome AS medico_nome,
    SUM(r.quantidade) AS quantidade_total
FROM consulta c
    JOIN receita r ON c.codigo_sns = r.codigo_sns
    JOIN clinica cl ON c.nome = cl.nome
    JOIN medico m ON c.nif = m.nif
WHERE EXTRACT(YEAR FROM c.data) = 2023
GROUP BY 
    GROUPING SETS (
        (r.medicamento),
        (r.medicamento, cl.morada),
        (r.medicamento, cl.nome),
        (r.medicamento, EXTRACT(MONTH FROM c.data)),
        (r.medicamento, EXTRACT(MONTH FROM c.data), EXTRACT(DAY FROM c.data)),
        (r.medicamento, m.especialidade),
        (r.medicamento, m.nome)
    )
ORDER BY 
    r.medicamento,
    clinica_localidade,
    clinica_nome,
    mes,
    dia_do_mes,
    m.especialidade,
    medico_nome;

364440 rows affected.

+-------------+-----------------------------------------------+--------------------+------+------------+----------------+-----------------------+------------------+
| medicamento |               clinica_localidade              |    clinica_nome    | mes  | dia_do_mes | especialidade  |      medico_nome      | quantidade_total |
+-------------+-----------------------------------------------+--------------------+------+------------+----------------+-----------------------+------------------+
|     AAS     |  Avenida Almirante Reis 19 B, 1150-008 Lisboa |        None        | None |    None    |      None      |          None         |        14        |
|     AAS     |   Rua Duque da Terceira 2 B, 2790-337 Oeiras  |        None        | None |    None    |      None      |          None         |        11        |
|     AAS     |    Rua Elias Garcia 32 C, 2700-328 Amadora    |        None        | None |    None    |      None      |          None         |        2         |
|     AAS     | Rua Herculano de Carvalho 2, 2650-237 Amadora |        None        | None |    None    |      None      |          None         |        4         |
|     AAS     |     Rua Paulo Duque 35 A, 1495-740 Oeiras     |        None        | None |    None    |      None      |          None         |        18        |
|     AAS     |                      None                     | JCS Almirante Reis | None |    None    |      None      |          None         |        14        |
|     AAS     |                      None                     |    JCS Brandoa     | None |    None    |      None      |          None         |        4         |
|     AAS     |                      None                     |    JCS Dafundo     | None |    None    |      None      |          None         |        18        |
|     AAS     |                      None                     |    JCS Queijas     | None |    None    |      None      |          None         |        11        |
|     AAS     |                      None                     |   JCS Venda Nova   | None |    None    |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  1   |     2      |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  1   |    None    |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  2   |     17     |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  2   |     25     |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  2   |    None    |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  3   |     9      |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  3   |     26     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  3   |    None    |      None      |          None         |        4         |
|     AAS     |                      None                     |        None        |  4   |     7      |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  4   |    None    |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  5   |     3      |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  5   |     24     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  5   |    None    |      None      |          None         |        4         |
|     AAS     |                      None                     |        None        |  6   |     1      |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  6   |     6      |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  6   |     14     |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  6   |     17     |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  6   |    None    |      None      |          None         |        11        |
|     AAS     |                      None                     |        None        |  7   |     13     |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  7   |     18     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  7   |     19     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  7   |     21     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  7   |    None    |      None      |          None         |        9         |
|     AAS     |                      None                     |        None        |  8   |     9      |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  8   |     19     |      None      |          None         |        2         |
|     AAS     |                      None                     |        None        |  8   |     26     |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  8   |    None    |      None      |          None         |        4         |
|     AAS     |                      None                     |        None        |  9   |     2      |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  9   |    None    |      None      |          None         |        3         |
|     AAS     |                      None                     |        None        |  10  |     26     |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  10  |    None    |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  12  |     6      |      None      |          None         |        1         |
|     AAS     |                      None                     |        None        |  12  |     24     |      None      |          None         |        5         |
|     AAS     |                      None                     |        None        |  12  |    None    |      None      |          None         |        6         |
|     AAS     |                      None                     |        None        | None |    None    |  cardiologia   |          None         |        4         |
|     AAS     |                      None                     |        None        | None |    None    | cirurgia geral |          None         |        6         |
|     AAS     |                      None                     |        None        | None |    None    | clínica geral  |          None         |        12        |
|     AAS     |                      None                     |        None        | None |    None    |   ortopedia    |          None         |        7         |
|     AAS     |                      None                     |        None        | None |    None    |   pediatria    |          None         |        10        |
|     AAS     |                      None                     |        None        | None |    None    |  psiquiatria   |          None         |        10        |
|     AAS     |                      None                     |        None        | None |    None    |      None      | Adriana Freitas-Rocha |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |  Catarina Nascimento  |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      David Ramos      |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |     Gil Gonçalves     |        5         |
|     AAS     |                      None                     |        None        | None |    None    |      None      | Gonçalo Machado-Paiva |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      Helena Nunes     |        1         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      Íris Pacheco     |        1         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |  Júlia-Eduarda Garcia |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |     Lourenço Faria    |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |    Madalena Santos    |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |       Márcio Vaz      |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |     Mia Gonçalves     |        1         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      Miriam Alves     |        5         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |   Rafael Nascimento   |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |     Renata Valente    |        4         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |       Rita Rocha      |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      Soraia Melo      |        2         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |      Vera Pacheco     |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |  Victória-Erika Sousa |        3         |
|     AAS     |                      None                     |        None        | None |    None    |      None      |          None         |        49        |
|   AAS 150   |  Avenida Almirante Reis 19 B, 1150-008 Lisboa |        None        | None |    None    |      None      |          None         |        10        |
|   AAS 150   |   Rua Duque da Terceira 2 B, 2790-337 Oeiras  |        None        | None |    None    |      None      |          None         |        4         |
|   AAS 150   |    Rua Elias Garcia 32 C, 2700-328 Amadora    |        None        | None |    None    |      None      |          None         |        4         |
|   AAS 150   | Rua Herculano de Carvalho 2, 2650-237 Amadora |        None        | None |    None    |      None      |          None         |        10        |
|   AAS 150   |     Rua Paulo Duque 35 A, 1495-740 Oeiras     |        None        | None |    None    |      None      |          None         |        11        |
|   AAS 150   |                      None                     | JCS Almirante Reis | None |    None    |      None      |          None         |        10        |
|   AAS 150   |                      None                     |    JCS Brandoa     | None |    None    |      None      |          None         |        10        |
|   AAS 150   |                      None                     |    JCS Dafundo     | None |    None    |      None      |          None         |        11        |
|   AAS 150   |                      None                     |    JCS Queijas     | None |    None    |      None      |          None         |        4         |
|   AAS 150   |                      None                     |   JCS Venda Nova   | None |    None    |      None      |          None         |        4         |
|   AAS 150   |                      None                     |        None        |  1   |     26     |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  1   |     29     |      None      |          None         |        2         |
|   AAS 150   |                      None                     |        None        |  1   |    None    |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  2   |     5      |      None      |          None         |        2         |
|   AAS 150   |                      None                     |        None        |  2   |    None    |      None      |          None         |        2         |
|   AAS 150   |                      None                     |        None        |  3   |     9      |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  3   |    None    |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  4   |     5      |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  4   |     25     |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  4   |    None    |      None      |          None         |        6         |
|   AAS 150   |                      None                     |        None        |  5   |     7      |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  5   |    None    |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  6   |     6      |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  6   |     16     |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  6   |    None    |      None      |          None         |        2         |
|   AAS 150   |                      None                     |        None        |  7   |     7      |      None      |          None         |        3         |
|   AAS 150   |                      None                     |        None        |  7   |     26     |      None      |          None         |        1         |
|   AAS 150   |                      None                     |        None        |  7   |    None    |      None      |          None         |        4         |
|   AAS 150   |                      None                     |        None        |  8   |     5      |      None      |          None         |        2         |
|   AAS 150   |                      None                     |        None        |  8   |     10     |      None      |          None         |        1         |
+-------------+-----------------------------------------------+--------------------+------+------------+----------------+-----------------------+------------------+
Truncated to displaylimit of 100.

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [40]:
%%sql
-- média (AVG) desvio padrão (STDDEV)
WITH observacoes_metricas AS (
    SELECT 
        o.parametro,
        o.valor,
        cl.nome AS clinica_nome,
        m.especialidade,
        m.nome AS medico_nome
    FROM observacao o
        JOIN consulta c ON o.id = c.id
        JOIN clinica cl ON c.nome = cl.nome
        JOIN medico m ON c.nif = m.nif
    WHERE o.valor IS NOT NULL
)
SELECT 
    parametro,
    clinica_nome,
    especialidade,
    medico_nome,
    AVG(valor) AS valor_medio,
    STDDEV(valor) AS desvio_padrao
FROM observacoes_metricas
GROUP BY 
    parametro,
    clinica_nome,
    especialidade,
    medico_nome
ORDER BY 
    parametro,
    clinica_nome,
    especialidade,
    medico_nome;

4240 rows affected.

+-----------+--------------------+----------------+---------------------------+--------------------+--------------------+
| parametro |    clinica_nome    | especialidade  |        medico_nome        |    valor_medio     |   desvio_padrao    |
+-----------+--------------------+----------------+---------------------------+--------------------+--------------------+
|   altura  | JCS Almirante Reis |  cardiologia   |       Carminho Nunes      | 113.48930788388593 | 58.73247067825365  |
|   altura  | JCS Almirante Reis |  cardiologia   |      Débora da Pinto      | 100.27577514684577 | 53.01200739510812  |
|   altura  | JCS Almirante Reis |  cardiologia   |      Gaspar de Castro     | 100.60162094963513 | 59.71260517026452  |
|   altura  | JCS Almirante Reis |  cardiologia   |        Helena Nunes       | 97.73997083372645  | 59.36216986158651  |
|   altura  | JCS Almirante Reis |  cardiologia   |      Ricardo Moreira      | 95.80662684857326  | 52.871313011661904 |
|   altura  | JCS Almirante Reis | cirurgia geral |      Filipa Fernandes     | 86.49139921468678  | 59.73789426785486  |
|   altura  | JCS Almirante Reis | cirurgia geral |    Victória-Erika Sousa   | 102.13288274441464 | 57.08713319743034  |
|   altura  | JCS Almirante Reis | clínica geral  |        Duarte Neves       | 100.45682284197099 | 56.67397127864998  |
|   altura  | JCS Almirante Reis | clínica geral  |     Frederico da Mota     | 128.88171856765678 | 56.84107949690226  |
|   altura  | JCS Almirante Reis | clínica geral  |   Gonçalo Machado-Paiva   | 88.74325122069591  |  62.1649130130628  |
|   altura  | JCS Almirante Reis | clínica geral  |         Hugo Gomes        | 96.86119498882762  | 59.890133256836606 |
|   altura  | JCS Almirante Reis | clínica geral  | Jéssica-Constança Cardoso | 98.39182575287911  | 59.68794716282011  |
|   altura  | JCS Almirante Reis | clínica geral  |    Leonardo Cunha-Paiva   | 95.52338541445995  | 58.203180891870154 |
|   altura  | JCS Almirante Reis | clínica geral  |      Madalena Santos      | 105.60313115648502 | 57.790375014559956 |
|   altura  | JCS Almirante Reis | clínica geral  |       Marta Loureiro      | 99.28529241929101  | 57.235703088857456 |
|   altura  | JCS Almirante Reis | clínica geral  |       Naiara Azevedo      | 96.89669691219915  | 60.71582308924451  |
|   altura  | JCS Almirante Reis | clínica geral  |     Rafael Nascimento     | 113.26657503025032 | 47.15383952064678  |
|   altura  | JCS Almirante Reis | clínica geral  |         Rita Rocha        | 96.01072857404252  | 62.66745883789221  |
|   altura  | JCS Almirante Reis | clínica geral  |     William Nascimento    | 87.07118158347012  | 48.90288039437699  |
|   altura  | JCS Almirante Reis |   ortopedia    |        Brian Moura        | 99.74561458320231  | 63.71468827662041  |
|   altura  | JCS Almirante Reis |   ortopedia    |        David Ramos        |  91.2771244653065  | 56.223784097899795 |
|   altura  | JCS Almirante Reis |   ortopedia    |     Lara Borges-Silva     | 114.98990872387877 |  62.7168608793654  |
|   altura  | JCS Almirante Reis |   ortopedia    |  Lúcia-Bárbara Rodrigues  | 109.77010094001605 | 58.63133258424016  |
|   altura  | JCS Almirante Reis |   ortopedia    |         Márcio Vaz        | 102.94800160969784 | 62.722835480015554 |
|   altura  | JCS Almirante Reis |   ortopedia    |       Mia Gonçalves       | 98.38009540174477  | 58.71244533225549  |
|   altura  | JCS Almirante Reis |   ortopedia    |  Rodrigo Barbosa-Fonseca  |  97.9698258940742  | 56.22490289349207  |
|   altura  | JCS Almirante Reis |   ortopedia    |       Rodrigo Pires       | 89.70013999943095  | 55.43997555738546  |
|   altura  | JCS Almirante Reis |   pediatria    |        André Borges       | 95.92644790204423  | 61.378102524840365 |
|   altura  | JCS Almirante Reis |   pediatria    |        César Matias       | 66.84566169414367  | 58.024849218730466 |
|   altura  | JCS Almirante Reis |   pediatria    |       Eduardo Neves       |  97.2613462901302  | 58.57354682537665  |
|   altura  | JCS Almirante Reis |   pediatria    |       Gil Gonçalves       | 102.78447208830652 |  52.3189763000886  |
|   altura  | JCS Almirante Reis |   pediatria    |        Isaac Matos        | 107.67823594306942 | 58.34542721164098  |
|   altura  | JCS Almirante Reis |   pediatria    |        Jéssica Cruz       | 113.62763300702292 | 50.204167255364545 |
|   altura  | JCS Almirante Reis |   pediatria    |      Júlia Nascimento     | 83.30461933581475  | 57.639824741198915 |
|   altura  | JCS Almirante Reis |   pediatria    |      Madalena Soares      | 101.54568647259273 | 58.02978694410969  |
|   altura  | JCS Almirante Reis |   pediatria    |        Miriam Alves       | 119.63542166618062 | 51.83242824746703  |
|   altura  | JCS Almirante Reis |   pediatria    |        Wilson Cruz        | 91.15958265627188  | 54.543545223175194 |
|   altura  | JCS Almirante Reis |  psiquiatria   |    Júlia-Eduarda Garcia   | 107.78092216753274 | 57.39473171953989  |
|   altura  | JCS Almirante Reis |  psiquiatria   |       Lourenço Faria      | 94.09745276673851  | 54.06298444959433  |
|   altura  | JCS Almirante Reis |  psiquiatria   |       Renata Valente      | 99.43400377774276  | 55.37172363470868  |
|   altura  | JCS Almirante Reis |  psiquiatria   |        Soraia Melo        | 84.40740641739903  | 56.69316309063346  |
|   altura  | JCS Almirante Reis |  psiquiatria   |    Vera-Alexandra Nunes   | 89.42140169321313  | 50.92749629503776  |
|   altura  | JCS Almirante Reis |  psiquiatria   |       Violeta Neves       | 102.13895400016662 | 55.67384267637218  |
|   altura  |    JCS Brandoa     |  cardiologia   |        Clara Nunes        | 102.19904332601047 | 52.29578085343911  |
|   altura  |    JCS Brandoa     |  cardiologia   |      Débora da Pinto      |  95.8557176194591  | 59.55656905872779  |
|   altura  |    JCS Brandoa     |  cardiologia   |      Gaspar de Castro     | 107.12686261230904 | 58.62415052219587  |
|   altura  |    JCS Brandoa     |  cardiologia   |        Helena Nunes       | 98.86641462626879  | 52.881336603422376 |
|   altura  |    JCS Brandoa     |  cardiologia   |      Ricardo Moreira      | 113.40515411206454 | 58.54874168999471  |
|   altura  |    JCS Brandoa     |  cardiologia   |        Vera Pacheco       | 94.94296243537492  | 57.083356988437494 |
|   altura  |    JCS Brandoa     | cirurgia geral |   Adriana Freitas-Rocha   | 107.13477242766668 | 61.92249465722647  |
|   altura  |    JCS Brandoa     | cirurgia geral |        Soraia Rocha       | 96.65885269191078  | 62.14327427253156  |
|   altura  |    JCS Brandoa     | cirurgia geral |    Victória-Erika Sousa   | 87.76232494690665  | 49.856039481501085 |
|   altura  |    JCS Brandoa     | clínica geral  |    Catarina Nascimento    | 107.07682034164263 | 58.09026040893991  |
|   altura  |    JCS Brandoa     | clínica geral  |      Constança Ramos      | 97.39481989394827  | 61.52456180435924  |
|   altura  |    JCS Brandoa     | clínica geral  |        Duarte Neves       | 98.75355064696753  | 67.29561877416936  |
|   altura  |    JCS Brandoa     | clínica geral  |        Emma Torres        |  93.9247876302859  | 57.89247148714256  |
|   altura  |    JCS Brandoa     | clínica geral  |     Francisco Moreira     | 92.84704305433861  | 62.040812432616846 |
|   altura  |    JCS Brandoa     | clínica geral  |     Frederico da Mota     | 99.12661982068214  | 60.550402999415134 |
|   altura  |    JCS Brandoa     | clínica geral  |         Hugo Gomes        | 106.10970645299672 | 61.449641205258956 |
|   altura  |    JCS Brandoa     | clínica geral  |        Íris Pacheco       | 115.36431663957056 | 55.049151080178746 |
|   altura  |    JCS Brandoa     | clínica geral  | Jéssica-Constança Cardoso | 101.82226826711833 | 56.90112253559069  |
|   altura  |    JCS Brandoa     | clínica geral  |      Madalena Santos      |  99.6913260339618  | 48.50907848785217  |
|   altura  |    JCS Brandoa     | clínica geral  |       Marta Loureiro      | 124.08917725330677 | 45.127941936972235 |
|   altura  |    JCS Brandoa     | clínica geral  |        Martim Sousa       | 93.80640006771283  | 58.00379484420095  |
|   altura  |    JCS Brandoa     | clínica geral  |         Rita Rocha        | 88.63174505426753  | 59.97569824297472  |
|   altura  |    JCS Brandoa     | clínica geral  |   Rúben Domingues-Anjos   | 103.10829068788777 | 58.06935751761606  |
|   altura  |    JCS Brandoa     | clínica geral  |     William Nascimento    | 102.23397888455429 | 59.799283802036165 |
|   altura  |    JCS Brandoa     |   ortopedia    |        Brian Moura        | 112.28022993038456 | 59.48158483997362  |
|   altura  |    JCS Brandoa     |   ortopedia    |        David Ramos        | 97.72780633255329  | 52.19496404312137  |
|   altura  |    JCS Brandoa     |   ortopedia    |  Lúcia-Bárbara Rodrigues  | 92.50617050144685  |  52.8512760832469  |
|   altura  |    JCS Brandoa     |   ortopedia    |         Márcio Vaz        | 101.39407190100334 | 54.79472352127783  |
|   altura  |    JCS Brandoa     |   ortopedia    |      Micael Baptista      | 112.86429178412821 | 54.36934941447408  |
|   altura  |    JCS Brandoa     |   ortopedia    |  Rodrigo Barbosa-Fonseca  | 96.47274462226153  | 56.56418281023885  |
|   altura  |    JCS Brandoa     |   ortopedia    |       Rodrigo Pires       | 88.25920376312693  | 54.59968382424823  |
|   altura  |    JCS Brandoa     |   pediatria    |       Adriana Borges      | 96.03128440904236  | 57.929985616852285 |
|   altura  |    JCS Brandoa     |   pediatria    |        André Borges       |  95.8768198729092  | 56.61031453003317  |
|   altura  |    JCS Brandoa     |   pediatria    |       Eduardo Neves       | 101.37385774747742 | 60.96708748732458  |
|   altura  |    JCS Brandoa     |   pediatria    |       Gil Gonçalves       | 103.00726423939646 | 57.03639780953163  |
|   altura  |    JCS Brandoa     |   pediatria    |          Íris Vaz         |  86.4537047718217  | 50.94477945658616  |
|   altura  |    JCS Brandoa     |   pediatria    |        Isaac Matos        | 90.86429247400265  | 53.73066927135251  |
|   altura  |    JCS Brandoa     |   pediatria    |        Wilson Cruz        |  87.3862244054972  | 57.449753322747945 |
|   altura  |    JCS Brandoa     |  psiquiatria   |    Júlia-Eduarda Garcia   |  85.7140053940905  | 53.10328219564114  |
|   altura  |    JCS Brandoa     |  psiquiatria   |       Lourenço Faria      | 94.25541492723173  | 54.96486128395034  |
|   altura  |    JCS Brandoa     |  psiquiatria   |       Renata Valente      |  81.8017904699353  | 59.861661983219605 |
|   altura  |    JCS Brandoa     |  psiquiatria   |        Soraia Melo        | 98.47209242037802  | 53.45914589890542  |
|   altura  |    JCS Brandoa     |  psiquiatria   |    Vera-Alexandra Nunes   | 98.23765125855827  | 56.000029313769176 |
|   altura  |    JCS Dafundo     |  cardiologia   |       Carminho Nunes      | 92.76918458872146  | 59.89221093722213  |
|   altura  |    JCS Dafundo     |  cardiologia   |      Débora da Pinto      | 92.01116126583825  | 63.535717789224066 |
|   altura  |    JCS Dafundo     |  cardiologia   |      Gaspar de Castro     | 104.81058627657958 | 57.658757114522125 |
|   altura  |    JCS Dafundo     |  cardiologia   |        Helena Nunes       | 93.63106470455342  | 55.92638153302777  |
|   altura  |    JCS Dafundo     |  cardiologia   |        Vera Pacheco       | 104.45324974572239 | 54.20374931848662  |
|   altura  |    JCS Dafundo     | cirurgia geral |   Adriana Freitas-Rocha   | 101.18702696968072 | 57.97583441101602  |
|   altura  |    JCS Dafundo     | cirurgia geral |      Filipa Fernandes     |  99.7940768360072  | 56.23871110717035  |
|   altura  |    JCS Dafundo     | cirurgia geral |        Soraia Rocha       | 104.4627807175351  | 59.69150824094553  |
|   altura  |    JCS Dafundo     | cirurgia geral |    Victória-Erika Sousa   | 108.03225009306877 | 66.72098801996492  |
|   altura  |    JCS Dafundo     | clínica geral  |    Catarina Nascimento    | 100.58865706223389 | 58.663937743730436 |
|   altura  |    JCS Dafundo     | clínica geral  |      Constança Ramos      | 103.75378033242568 | 57.512925685987334 |
|   altura  |    JCS Dafundo     | clínica geral  |        Duarte Neves       |  96.0743802874281  | 52.59175405952263  |
|   altura  |    JCS Dafundo     | clínica geral  |        Emma Torres        | 105.83227109514561 | 61.308480096663054 |
|   altura  |    JCS Dafundo     | clínica geral  |     Francisco Moreira     | 103.6338080988429  | 60.177316560659875 |
+-----------+--------------------+----------------+---------------------------+--------------------+--------------------+
Truncated to displaylimit of 100.

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
ORDER BY qtd;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...